<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Tipos de Motores
          <div class="float-right">
            <a href="tipodemotor/agregar">
              <button class="btn btn-success">Añadir</button>
            </a>
          </div>
        </h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 300px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripci&oacute;n</th>
              <th>Acciones</th>
            </tr>
          </thead>
          {{#each tipos}}
          <tbody>
            <tr>
              <td>{{Nombre}}</td>
              <td>{{Descripcion}}</td>
              <td>
                <a href=""><button class="btn btn-info">Editar</button></a>
                <a href="/tipodemotor/eliminar/{{id_tipo}}"><button class="btn btn-danger">Eliminar</button></a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>