              <div class="form-group">
                    <label for="">Número de Campo: </label>
                    <input name="Num_campo"min="1" type="number" class="form-control form-control-md" >
                </div>
                 <div class="form-group">
                    <label for="">Número de Subobina: </label>
                    <input name="Num_subobina" min="1"type="number" class="form-control form-control-md">
                </div>
                 <div class="form-group">
                    <label for="">Número de Canto: </label>
                    <input name="Num_canto" min="1" type="number" class="form-control form-control-md">
                </div>
                <div class="form-group">
                    <label for="">Calibre Alambre: </label>
                    <input name="Calibre_alambre" min="1" type="number" class="form-control form-control-md">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">              
                  <div class="form-group">
                    <label for="">Ranura por medio: </label>
                    <input name="Ranura_por_medio" min="1" type="number" class="form-control form-control-md">
                </div>
                <div class="form-group">
                    <label for="">Peso Alambre: </label>
                    <input name="Peso_alambre" min="1" type="number" class="form-control form-control-md">
                </div>
                <div class="form-group">
                    <label for="">Número Vuelta: </label>
                    <input name="Num_vuelta" min="1" type="number" class="form-control form-control-md">
                </div>
                <div class="form-group">
                    <label for="">Tipo Campo: </label>
                    <input name="Tipo_campo" type="text" class="form-control form-control-md">
                </div>