  <div id="sidebar-content" class="bg-light border-light">
        <div class="logo"><h4 class="font-weight-bold mb-0"><a class="navbar-brand" href="/bienvenido">Electroembobinado</a></h4></div>
        <div class="menu list-group-flush">
            <a href="/motores" class="list-group-item list-group-item-action bg-dark p-3 border-1"><i class="fa fa-address-book mr-2 lead"></i> Motores</a>
             <a href="/tipodemotor" class="list-group-item list-group-item-action bg-dark p-3 border-1"><i class="fa fa-address-book mr-2 lead"></i>tipos de motor</a>
            <a href="/reparaciones" class="list-group-item list-group-item-action bg-dark border-1"><i class="fa fa-wheelchair mr-2 lead"></i> Reparaciones</a>
            <a href="/empleados" class="list-group-item list-group-item-action bg-dark border-1"><i class="fa fa-user mr-2 lead"></i> Empleados</a>
            <a href="/clientes" class="list-group-item list-group-item-action bg-dark border-1"><i class="fa fa-users mr-2 lead"></i> Clientes</a>
            <a href="/usuarios" class="list-group-item list-group-item-action bg-dark border-1"><i class="fa fa-user-plus mr-2 lead"></i> Usuarios</a>
            <a href="/inventario" class="list-group-item list-group-item-action bg-dark border-1"><i class="fa fa-address-book mr-2 lead"></i> Inventario</a>
        </div>
       </div>